# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Prisma
prisma/*.db
prisma/*.db-journal

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
tmp/
temp/
